* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.splash {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: 1s;
}

.splash .splash-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.splash .splash-header .header-text {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-weight: 300;
}

.splash .splash-header .header-text.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
}

.splash .splash-header .header-text.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 1s;
}

.smooth-scroll-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  background-color: grey;
  color: #fff;
  border-bottom: 1px sold rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a.logo {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  padding: 0 30px;
  min-width: 120px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar .navbar-toggler {
  display: none;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

section img {
  height: 350px;
  width: 550px;
}

@media (max-width: 980px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    padding: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .3s;
  }
  .navbar ul .open {
    max-height: 100%;
  }
  .navbar ul li {
    width: 100%;
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-style: none;
    border: none;
    color: #fff;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    content: '';
    display: block;
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  .navbar .navbar-toggler .open-navbar-toggler span {
    background-color: transparent;
  }
  .navbar .navbar-toggler .open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }
  .navbar .navbar-toggler .open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */