* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "poppins", sans-serif;
	height: 100vh;
	overflow: hidden;
}

// Splash
.splash {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	transition: 1s;

	.splash-header {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%); // Brings Everything To The Center
		color: #fff;

		& .header-text {
			position: relative;
			display: inline-block;
			bottom: -20px;
            opacity: 0;
            font-weight: 300;

			&.active {
				bottom: 0;
				opacity: 1;
				transition: ease-in-out 1s;
			}

			&.fade {
				bottom: 150px;
				opacity: 0;
				transition: ease-in-out 1s;
			}
		}
	}
}
// End Of Splash

// Smooth Scroll
.smooth-scroll-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.home-left {
	position: relative;
	left: -55%;
	width: 55%;

	&.header {
		position: relative;
		top: 20px;
		width: 100%;
		height: 6rem;
		
	}

}

.navbar {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 60px;

}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;

	
	img {
		height: 350px;
		width: 550px;
	}
	
}
// End Of Home Page Transition