* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "poppins", sans-serif;
	height: 100vh;
	overflow: hidden;
}

// Splash
.splash {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	transition: 1s;

	.splash-header {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%); // Brings Everything To The Center
		color: #fff;

		& .header-text {
			position: relative;
			display: inline-block;
			bottom: -20px;
			opacity: 0;
			font-weight: 300;

			&.active {
				bottom: 0;
				opacity: 1;
				transition: ease-in-out 1s;
			}

			&.fade {
				bottom: 150px;
				opacity: 0;
				transition: ease-in-out 1s;
			}
		}
	}
}
// End Of Splash

// Smooth Scroll
.smooth-scroll-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

nav {
	height: 2rem;

	& #check {
		display: none;
	}

	label #btn,
	#cancel {
		float: right;
		line-height: 80px;
		margin-right: 40px;
		cursor: pointer;
		display: none;
	}

	div {
		position: absolute;
		font-size: 2.5rem;
		font-weight: lighter;
		width: fit-content;
		top: 17px;
		left: 12%;
	}

	ul {
		float: right;
		margin-right: 25px;
	}

	li {
		display: inline-block;
		line-height: 80px;
		margin: 0 15px;
	}

	a {
		position: relative;
		list-style: none;
		text-decoration: none;
		font-size: 1.2rem;
		color: #000;
		padding: 5px 0;
		font-weight: bold;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			background: #000;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.4s linear;
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;

	img {
		height: 350px;
		width: 550px;
	}
}

// Media Queries
@media (max-width: 1118px) {
	.header-logo {
		left: 8%;
	}
}

@media (max-width: 944px) {
	.header-logo {
		left: 6%;
		top: 20px;
		width: 130px;
	}

	ul li a {
		font-size: 1rem;
	}
}

@media (max-width: 860px) {
	label #btn {
		display: block;
	}

	ul {
		position: fixed;
	}
}

// .active {
// 	position: relative;
// 	top: 0;
// 	opacity: 1;
// 	transition: 1s;
// }

// @keyframes slide {
// 	0% {
// 		left: -100%;
// 	}
// 	25% {
// 		left: -100%;
// 	}
// 	50% {
// 		left: 0;
// 	}
// 	100% {
// 		left: 100%;
// 	}
// }

// @keyframes slide-perm {
// 	0% {
// 		left: -100%;
// 	}
// 	25% {
// 		left: -100%;
// 	}
// 	75% {
// 		left: 0;
// 	}
// 	100% {
// 		left: 0;
// 	}
// }
