* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "poppins", sans-serif;
	width: 100%;
	height: 100vh;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

// Splash
.splash {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	transition: 1s;

	.splash-header {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%); // Brings Everything To The Center
		color: #fff;

		& .header-text {
			position: relative;
			display: inline-block;
			bottom: -20px;
			opacity: 0;
			font-weight: 300;

			&.active {
				bottom: 0;
				opacity: 1;
				transition: ease-in-out 1s;
			}

			&.fade {
				bottom: 150px;
				opacity: 0;
				transition: ease-in-out 1s;
			}
		}
	}
}
// End Of Splash

// Smooth Scroll
.smooth-scroll-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

// Navbar
.navbar {
	background-color:transparent;
	color: #fff;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 1rem;
	padding: 0 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	&.hidden {
		visibility: hidden;
	}

	a {
		text-decoration: none;
		color: #fff;

		&.navbar-brand {
			float: left;
			height: inherit;
			line-height: inherit;
			padding: 0 30px;

			font-weight: lighter;
			letter-spacing: 2px;

			span {
				font-size: 1.8rem;
			}
		}
	}

	ul {
		float: right;
		list-style: none;
		height: inherit;
		line-height: inherit;

		li {
			display: inline-block;
			position: relative;

			a {
				display: block;
				text-align: center;
				margin-right: 5rem;
				justify-content: space-between;

				&:hover {
					color: gray;
					transition: ease-in-out 0.8s;
				}
			}
		}
	}

	& .navbar-toggler {
		display: none;
	}
}

.projects {
	
}

// Responsive Media Queries
@media (max-width: 900px) {
	.navbar ul {
		margin-right: 0.5rem;
		// padding: 0;
	}
	.navbar ul li a {
		margin-right: 0.5rem;
		// min-width: 100px;
	}
}

@media (max-width: 830px) {
	.navbar {
		padding: 0;
	}
	.navbar ul {
		width: 100%;
		// padding: 0;
		background-color: rgba(0, 0, 0, 0.9);
		// height: auto;
		height: 100vh;
		max-height: 0;
		overflow: hidden;
		transition: all ease-in-out 0.3s;
	}

	.navbar ul.open {
		max-height: 100vh;
	}

	.navbar ul li {
		width: 100%;
	}

	.navbar ul li a {
		padding: 0;
	}

	.navbar .navbar-toggler {
		display: block;
		position: absolute;
		height: 40px;
		top: 20px;
		right: 20px;
		background-color: transparent;
		color: #fff;
		border: 3px solid #fff;
		outline: none;
		padding: 0 5px;
		cursor: pointer;
	}

	.navbar .navbar-toggler span,
	.navbar .navbar-toggler span::before,
	.navbar .navbar-toggler span::after {
		display: block;
		content: "";
		background-color: #fff;
		height: 3px;
		width: 28px;
		border-radius: 4px;
		transition: all ease-in-out 0.3s;
	}

	.navbar .navbar-toggler span::before {
		transform: translateY(-8px);
	}

	.navbar .navbar-toggler span::after {
		transform: translateY(5px);
	}

	.navbar .navbar-toggler.open-navbar-toggler span {
		/* transform: rotate(90deg); */
		background-color: transparent;
		/* transform: scale(0.85) rotate(270deg); */
	}

	.navbar .navbar-toggler.open-navbar-toggler span::before {
		transform: translateY(0px) rotate(45deg);
		/* transform: translateY(0px) scale(0.75) rotate(45deg); */
	}

	.navbar .navbar-toggler.open-navbar-toggler span::after {
		transform: translateY(-3px) rotate(-45deg);
		/* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
	}
}
